<div class="movie-container ">
  <h1>Series</h1>
</div>

<!--  Botón crear nuevo registro -->
<div class="d-grid gap-2 col-4 mx-auto">
  <%= button_to "Create new Serie record", new_series_path, method: :get, class: "btn btn-success", id: "boton" %>

</div>

<%= render partial: 'shared/listado', locals: { records: @series } %>


